﻿
body {
    background-color: white;
    padding: 29px;
    font-family: Bahnschrift;
    font-size: 19px;
}

#menu {
    padding-top: 19px;
    background-color: white;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: black;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

#menu ul li a:hover {
    color: deepskyblue;
}

#menu ul li a:active{
    background-color: deepskyblue;
    color: white;
}
#futer {
    width: 100%;
    text-align: center;
    background-color: deepskyblue;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h3{
    color: deepskyblue;
}

p {
    color: #595959;
    font-family: Arial;
}

ul li{
    color: #595959;
    font-family: Arial;
}

ul li a{
    text-decoration: none;
    color: #595959;
}

aside img{
    float:unset;
}